{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<!-- [ Main Content ] start -->
<canvas style="position: fixed; top: 0; left: 0; z-index: -1;"></canvas>

<div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="card-header text-center">
            <h2 class="text-white">Responsible Gaming</h2>
        </div>
        <div class="card-body text-white">
            <p>If you or someone you know has a gambling addiction and wants help please call 1-800-Gambler.
                <br>
                Gambling is intended to be a fun hobby and our site tries to provide betters with tools to make it more rewarding and fun. But player safety is and will always be our number one concern. 
                
            </p>
            <p>
                Even though for most gambling is simply a pasttime that helps to spice up sporting events, we acknowledge there are some users who may get carried away or become addicted to betting. For those players or friends of those players
                please reach out to 1-800-Gambler or any other organization that helps overcome gambling addictions. 
                <br>
                Please help us keep the sport of sportsbetting fun, and most importantly safe. 
                <br>
                Below are national and state resources for responsible gaming.
            </p>

            National Resources
            <ul>
                <li class="dropdown-item full-card"><a href="https://www.ncpgambling.org/">National Council on Problem Gambling</a></li>
                <li class="dropdown-item full-card"><a href="https://www.gam-anon.org/">Gam Anon</a></li>
                <li class="dropdown-item full-card"><a href="http://www.gamblersanonymous.org/ga/node/1">Gamblers Anonymous</a></li>
                <li class="dropdown-item full-card"><a href="https://988lifeline.org/">Suicide Prevention</a></li>
                <li class="dropdown-item full-card"><a href="https://www.icrg.org/">International Center for Responsible Gaming</a></li>
            </ul>

            State Resources
            <ul>
                <li class="dropdown-item full-card"><a href="#Arizona">Arizona</a></li>
                <li class="dropdown-item full-card"><a href="#Arkansas">Arkansas</a></li>
                <li class="dropdown-item full-card"><a href="#Colorado">Colorado</a></li>
                <li class="dropdown-item full-card"><a href="#Connecticut">Connecticut</a></li>
                <li class="dropdown-item full-card"><a href="#Delaware">Delaware</a></li>
                <li class="dropdown-item full-card"><a href="#Florida">Florida</a></li>
                <li class="dropdown-item full-card"><a href="#Illinois">Illinois</a></li>
                <li class="dropdown-item full-card"><a href="#Indiana">Indiana</a></li>
                <li class="dropdown-item full-card"><a href="#Iowa">Iowa</a></li>
                <li class="dropdown-item full-card"><a href="#Kansas">Kansas</a></li>
                <li class="dropdown-item full-card"><a href="#Kentucky">Kentucky</a></li>
                <li class="dropdown-item full-card"><a href="#Louisiana">Louisiana</a></li>
                <li class="dropdown-item full-card"><a href="#Maine">Maine</a></li>
                <li class="dropdown-item full-card"><a href="#Maryland">Maryland</a></li>
                <li class="dropdown-item full-card"><a href="#Massachusetts">Massachusetts</a></li>
                <li class="dropdown-item full-card"><a href="#Michigan">Michigan</a></li>
                <li class="dropdown-item full-card"><a href="#Mississippi">Mississippi</a></li>
                <li class="dropdown-item full-card"><a href="#Montana">Montana</a></li>
                <li class="dropdown-item full-card"><a href="#Nebraska">Nebraska</a></li>
                <li class="dropdown-item full-card"><a href="#Nevada">Nevada</a></li>
                <li class="dropdown-item full-card"><a href="#New Hampshire">New Hampshire</a></li>
                <li class="dropdown-item full-card"><a href="#New Jersey">New Jersey</a></li>
                <li class="dropdown-item full-card"><a href="#New Mexico">New Mexico</a></li>
                <li class="dropdown-item full-card"><a href="#New York">New York</a></li>
                <li class="dropdown-item full-card"><a href="#North Carolina">North Carolina</a></li>
                <li class="dropdown-item full-card"><a href="#North Dakota">North Dakota</a></li>
                <li class="dropdown-item full-card"><a href="#Ohio">Ohio</a></li>
                <li class="dropdown-item full-card"><a href="#Oregon">Oregon</a></li>
                <li class="dropdown-item full-card"><a href="#Pennsylvania">Pennsylvania</a></li>
                <li class="dropdown-item full-card"><a href="#Rhode Island">Rhode Island</a></li>
                <li class="dropdown-item full-card"><a href="#South Dakota">South Dakota</a></li>
                <li class="dropdown-item full-card"><a href="#Tennessee">Tennessee</a></li>
                <li class="dropdown-item full-card"><a href="#Vermont">Vermont</a></li>
                <li class="dropdown-item full-card"><a href="#Virginia">Virginia</a></li>
                <li class="dropdown-item full-card"><a href="#Washington D.C.">Washington D.C.</a></li>
                <li class="dropdown-item full-card"><a href="#Washington">Washington</a></li>
                <li class="dropdown-item full-card"><a href="#West Virginia">West Virginia</a></li>
                <li class="dropdown-item full-card"><a href="#Wisconsin">Wisconsin</a></li>
                <li class="dropdown-item full-card"><a href="#Wyoming">Wyoming</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Individual Cards for States -->
<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Arizona">
            <h3 class="text-white">Arizona</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://problemgambling.az.gov/">Arizona Department of Gaming Problem Gambling</a></li>
                <li class="dropdown-item full-card text-white">Call 1-800-NEXT-STEP</li>
                <li class="dropdown-item full-card text-white">Text NEXT-STEP to 53342</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Arkansas">
            <h3 class="text-white">Arkansas</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://sbg.colorado.gov/problem-gambling-resources">Arkansas Problem Gambling Council</a></li>
                <li class="dropdown-item full-card text-white">Call 1-800-GAMBLER</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Colorado">
            <h3 class="text-white">Colorado</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://arpgcouncil.org/">Colorado Department of Revenue Problem Gambling Resources</a></li>
                <li class="dropdown-item full-card text-white">Call 1-800-GAMBLER</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Connecticut">
            <h3 class="text-white">Connecticut</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://portal.ct.gov/gaming/get-help-for-problem-gambling?language=en_US">Connecticut Department of Consumer Protection </a></li>
                <li class="dropdown-item full-card text-white">Call 866-440-4375</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Delaware">
            <h3 class="text-white">Delaware</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://www.deproblemgambling.org/">Delaware Council on Gambling Problems</a></li>
                <li class="dropdown-item full-card text-white">Call 888-850-8888</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card" id="Florida">
        <div class="card-header text-center" >
            <h3 class="text-white">Florida</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://www.flfamily.org/get-help/gambling-problems/">Florida Council on Compulsive Gambling</a></li>
                <li class="dropdown-item full-card text-white">Call 1-888-236-4848</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12" id="Illinois">
    <div class="card">
        <div class="card-header text-center">
            <h3 class="text-white">Illinois</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://www.dhs.state.il.us/page.aspx?item=117443">Illinois Department of Human Services</a></li>
                <li class="dropdown-item full-card text-white">Call 1-800-GAMBLER</li>
                <li class="dropdown-item full-card text-white">Text ILGAMB to 833234</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Indiana">
            <h3 class="text-white">Indiana</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://indianaproblemgambling.org/">Indiana Council on Problem Gambling</a></li>
                <li class="dropdown-item full-card text-white">Call 1-800-994-8448</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Iowa">
            <h3 class="text-white">Iowa</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://yourlifeiowa.org/gambling">Your Life Iowa</a></li>
                <li class="dropdown-item full-card text-white">Call 1-800-BETS OFF</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Kansas">
            <h3 class="text-white">Kansas</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://kdads.ks.gov/kdads-commissions/behavioral-health/services-and-programs/problem-gambling-services">Kansas Problem Gambling Services</a></li>
                <li class="dropdown-item full-card text-white">Call 800-522-4700</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Kentucky">
            <h3 class="text-white">Kentucky</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://www.kycpg.org/">Kentucky Council on Problem Gambling</a></li>
                <li class="dropdown-item full-card text-white">Call 1-800-426-2537</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Louisiana">
            <h3 class="text-white">Louisiana</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://ldh.la.gov/page/gambling-when-gambling-is-a-problem">Louisiana Department of Health</a></li>
                <li class="dropdown-item full-card text-white">Call 1-877-770-STOP (7867)</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Maine">
            <h3 class="text-white">Maine</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://www.maine.gov/dhhs/mecdc/population-health/prevention/gambling/">Maine Problem Gaambling Services</a></li>
                <li class="dropdown-item full-card text-white">Call 2-1-1 (Maine only)</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Maryland">
            <h3 class="text-white">Maryland</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://www.mdgamblinghelp.org/">Maryland Alliance for Responsible Gaambling</a></li>
                <li class="dropdown-item full-card text-white">Call 1-800-GAMBLER</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Massachusetts">
            <h3 class="text-white">Massachusetts</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://gamblinghelplinema.org/">MA Gambling Helpline</a></li>
                <li class="dropdown-item full-card text-white">Call 800-327-5050</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Michigan">
            <h3 class="text-white">Michigan</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://www.michigan.gov/mdhhs/keep-mi-healthy/mentalhealth/gambling">Michigan Problem Gambling Helpline</a></li>
                <li class="dropdown-item full-card text-white">Call 1-800-270-7117</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Mississippi">
            <h3 class="text-white">Mississippi</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://www.msgambler.org/">Mississippi Council on Problem and Compulsive Gambling</a></li>
                <li class="dropdown-item full-card text-white">Call 1-888-777-9696</li>
                <li class="dropdown-item full-card text-white">Text msgambler to 53342</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Montana">
            <h3 class="text-white">Montana</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="http://www.mtproblemgambling.org/">Montana Council on Problem Gambling</a></li>
                <li class="dropdown-item full-card text-white">Call 888-900-9979</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Nebraska">
            <h3 class="text-white">Nebraska</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://www.ncpgambling.org/help-treatment/help-by-state/nebraska/">Nebraska Problem Gambling Resources</a></li>
                <li class="dropdown-item full-card text-white">Call 1-833-BETOVER</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Nevada">
            <h3 class="text-white">Nevada</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://www.nevadacouncil.org/">Nevada Council on Problem Gambling</a></li>
                <li class="dropdown-item full-card text-white">Call 1-800-GAMBLER</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="New Hampshire">
            <h3 class="text-white">New Hampshire</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://www.nhproblemgambling.org/">New Hampshire Council on Problem Gambling</a></li>
                <li class="dropdown-item full-card text-white">Call (603) 724-1605</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="New Jersey">
            <h3 class="text-white">New Jersey</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://www.nj.gov/casinos/services/problem/">New Jersey Casino Control Commission</a></li>
                <li class="dropdown-item full-card text-white">Call 1-800-GAMBLER</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="New Mexico">
            <h3 class="text-white">New Mexico</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://www.gcb.nm.gov/compulsive-and-problem-gambling/help-is-available/">New Mexico Gaming Control Board</a></li>
                <li class="dropdown-item full-card text-white">Call 1-800-572-1142</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="New York">
            <h3 class="text-white">New York</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://nyproblemgambling.org/">New York Council on Problem Gambling</a></li>
                <li class="dropdown-item full-card text-white">Call 1-877-846-7369</li>
                <li class="dropdown-item full-card text-white">Text 467369</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="North Carolina">
            <h3 class="text-white">North Carolina</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://www.ncdhhs.gov/divisions/mental-health-developmental-disabilities-and-substance-use-services/nc-problem-gambling-program">North Carolina Problem Gambling Program</a></li>
                <li class="dropdown-item full-card text-white">Call 877-718-5543</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="North Dakota">
            <h3 class="text-white">North Dakota</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://www.gamblernd.com/">Gambler ND</a></li>
                <li class="dropdown-item full-card text-white">Call 1-877-702-7848</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Ohio">
            <h3 class="text-white">Ohio</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://ohio.gov/responsible-gambling">Ohio for Responsible Gambling</a></li>
                <li class="dropdown-item full-card text-white">Call 1.800.589.9966</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Oregon">
            <h3 class="text-white">Oregon</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://www.oregon.gov/oha/hsd/problem-gambling/pages/index.aspx">Oregon Health Authority Problem Gambling Services</a></li>
                <li class="dropdown-item full-card text-white">Call 1-877-695-4648</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Pennsylvania">
            <h3 class="text-white">Pennsylvania</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://responsibleplay.pa.gov/get-gambling-addiction-help/">Pennsylvania Gaming Control Board</a></li>
                <li class="dropdown-item full-card text-white">Call 1-800-GAMBLER</li> 
                <li class="dropdown-item full-card text-white">Text 1-800-522-4700</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Rhode Island">
            <h3 class="text-white">Rhode Island</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://www.ricpg.com/">Rhode Island Council on Problem Gambling</a></li>
                <li class="dropdown-item full-card text-white">Call 877-942-6253</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="South Dakota">
            <h3 class="text-white">South Dakota</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://lottery.sd.gov/responsible-play/">South Dakota Lottery Responsible Play</a></li>
                <li class="dropdown-item full-card text-white">Call 1-888-781-HELP</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Tennessee">
            <h3 class="text-white">Tennessee</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://www.tn.gov/behavioral-health/substance-abuse-services/treatment---recovery/treatment---recovery/problem-gambling-programs.html">Tennessee Department of Mental Health & Substance Abuse Services</a></li>
                <li class="dropdown-item full-card text-white">Call 800-889-9789</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Vermont">
            <h3 class="text-white">Vermont</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://mentalhealth.vermont.gov/services/adult-mental-health-services/services-and-supports-adults/problem-gambling-resources">Vermont Problem Gambling Resources</a></li>
                <li class="dropdown-item full-card text-white">Call 1-800-522-4700</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Virginia">
            <h3 class="text-white">Virginia</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://vcpg.net/">Virginia Council of Problem Gambling</a></li>
                <li class="dropdown-item full-card text-white">Call 1-888-532-3500.</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Washington D.C.">
            <h3 class="text-white">Washington D.C.</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://dclottery.com/olg/problem-gambling-resources">DC Lottery Problem Gambling Resources</a></li>
                <li class="dropdown-item full-card text-white">Call 1-800-522-4700</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Washington">
            <h3 class="text-white">Washington</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://www.hca.wa.gov/free-or-low-cost-health-care/i-need-behavioral-health-support/problem-gambling">Health Care Authority</a></li>
                <li class="dropdown-item full-card text-white">Call 1-800-547-6133</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="West Virginia">
            <h3 class="text-white">West Virginia</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://wvgra.org/responsible-gaming/">West Virginia Gaming and Racing Association</a></li>
                <li class="dropdown-item full-card text-white">Call 1-800-426-2537</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Wisconsin">
            <h3 class="text-white">Wisconsin</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://web.greatergbc.org/NonProfit/Wisconsin-Council-on-Problem-Gambling-2741">Wisconsin Council on Problem Gambling</a></li>
                <li class="dropdown-item full-card text-white">Call 920-437-8888</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-header text-center" id="Wyoming">
            <h3 class="text-white">Wyoming</h3> 
        </div>
        <div class="card-body text-white">
            <ul>
                <li class="dropdown-item full-card"><a href="https://health.wyo.gov/behavioralhealth/mhsa/problem-gambling/">Wyoming Department of Health</a></li>
                <li class="dropdown-item full-card text-white">Call 1-800-522-4700</li>
            </ul>
        </div>
    </div>
</div>



    <!-- Customer overview end -->
    <canvas style="position: fixed; top: 0; left: 0;"></canvas>
</div>

<!-- [ Main Content ] end -->
{% endblock content %}
{% block extrajs %}
<!-- custom-chart js -->
<script src="{% static 'assets/js/pages/dashboard-main.js' %}"></script>
<!-- Matrix Canvas js-->
<script src="{% static 'home/index.js' %}"></script>

<!-- Apex Chart -->
<script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>
{% endblock extrajs %}